
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@theme {
  --font-myfont: "Montserrat", sans-serif;
  --font-myfont2: "Roboto", sans-serif;
  --font-myfont3: "Roboto Mono", monospace;
}


